* {
	font-family: roboto;
	font-size: 25px;
	text-align: center;
}
table,
td {
    border: 1px solid #333;
}

table {
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

td {
	width: 160px;
}

tr {
	height: 50px;
}

#location {
	height: 300px;
	width: 400px;
}